.iconWrapper {
  margin-bottom: 4px;
  // filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.icon {
  width: 56px;
  height: 56px;
}

.name {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
  word-break: break-word;
}

.appItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  transition: background 0.2s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .name {
    color: #333;
    text-shadow: none;
    margin-top: 4px;

    @media (prefers-color-scheme: dark) {
      color: #eee;
    }
  }
}

.appIcon {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  object-fit: contain;
  // background-color: #fff;
  // padding: 6px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
