.desktop {
  width: 100vw;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=3870&auto=format&fit=crop')
    no-repeat center center fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  color: white;
}

.desktopGrid {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  z-index: 10;
}

.centerContent {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // gap: 24px;
  // z-index: 10;
}

.dockContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.divider {
  width: 1px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 8px;
  align-self: center;
}
