.sidebar {
  width: 140px;
  height: 100%;
  flex-shrink: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  margin-right: 5px;
}

.sidebarHeader {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 12px;
}

.sidebarContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
}
