@use './config.scss' as *;
/*定义css变量*/
@mixin defineCssVar($name, $value) {
  --#{$prefix}-#{$name}: #{$value};
}
/*应用css变量*/
@function getVar($name) {
  @return var(--#{$prefix}-#{$name});
}
/*将组件变量展开*/
@mixin defineThemeVars($map) {
  @each $key, $value in $map {
    @include defineCssVar($key, $value);
  }
}
