@import 'tailwindcss';
@plugin '../hero.ts';

/* Scan your project files for Tailwind classes */
@source '../**/*.{ts,tsx}';

/* Scan HeroUI theme files */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));
